Repository Pari-Dhanani/ansible-dcnm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-all, run-interface, run-inventory, run-vrf, run-links, run-network, run-policy, run-resource_manager, run-rest, run-service_node, run-service_policy, run-service_route_peering, run-template, run-all-unit

Updated config.yml
  .circleci/config.yml
Due: run-setup=false

Update config.yml
  .circleci/config.yml
Due: run-setup=false

Update dcnm_interface.py
  plugins/action/dcnm_interface.py
Due: run-setup=false, run-interface

Update dcnm_vrf.py
  plugins/action/dcnm_vrf.py
Due: run-setup=false, run-vrf

Update dcnm.py
  plugins/module_utils/network/dcnm/dcnm.py
Due: run-setup=false, run-all

Update dcnm_service_policy.py
  plugins/modules/dcnm_service_policy.py
Due: run-setup=false, run-service_policy

Update dcnm_network.py
  plugins/modules/dcnm_network.py
Due: run-setup=false, run-network

Update dcnm_inventory.py
  plugins/action/dcnm_inventory.py
Due: run-setup=false, run-inventory

Path conditions:
  run-setup=false: any of: .*
  run-all: (((any of: plugins/httpapi/.*) or (any of: plugins/module_utils/.*)) or (any of: tests/integration/targets/dcnm_fabric/.*)) or (any of: tests/integration/targets/prepare_dcnm_intf/tasks/.*)
  run-interface: ((any of: plugins/action/dcnm_interface.py) or (any of: plugins/modules/dcnm_interface.py)) or (any of: tests/integration/targets/dcnm_interface/.*)
  run-inventory: ((any of: plugins/action/dcnm_inventory.py) or (any of: plugins/modules/dcnm_inventory.py)) or (any of: tests/integration/targets/dcnm_inventory/.*)
  run-vrf: ((any of: plugins/action/dcnm_vrf.py) or (any of: plugins/modules/dcnm_vrf.py)) or (any of: tests/integration/targets/dcnm_vrf/.*)
  run-links: ((any of: plugins/modules/dcnm_links.py) or (any of: tests/integration/targets/dcnm_links/.*)) or (any of: tests/integration/targets/prepare_dcnm_links/tasks/.*)
  run-network: (any of: plugins/modules/dcnm_network.py) or (any of: tests/integration/targets/dcnm_network/.*)
  run-policy: ((any of: plugins/modules/dcnm_policy.py) or (any of: tests/integration/targets/dcnm_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_policy/tasks/.*)
  run-resource_manager: (any of: plugins/modules/dcnm_resource_manager.py) or (any of: tests/integration/targets/dcnm_resource_manager/.*)
  run-rest: any of: plugins/modules/dcnm_rest.py
  run-service_node: (any of: plugins/modules/dcnm_service_node.py) or (any of: tests/integration/targets/dcnm_service_node/.*)
  run-service_policy: ((any of: plugins/modules/dcnm_service_policy.py) or (any of: tests/integration/targets/dcnm_service_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_policy/tasks/.*)
  run-service_route_peering: ((any of: plugins/modules/dcnm_service_route_peering.py) or (any of: tests/integration/targets/dcnm_service_route_peering/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_route_peering/tasks/.*)
  run-template: ((any of: plugins/modules/dcnm_template.py) or (any of: tests/integration/targets/dcnm_template/.*)) or (any of: tests/integration/targets/prepare_dcnm_template/tasks/.*)
  run-all-unit: any of: tests/unit/modules/dcnm
