Repository Pari-Dhanani/ansible-dcnm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-interface, run-inventory, run-vrf, run-links, run-network, run-policy, run-resource_manager, run-rest, run-service_node, run-service_policy, run-service_route_peering, run-template, run-all-unit

Update sanity.yaml
  tests/integration/targets/dcnm_interface/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-interface

Update sanity.yaml
  tests/integration/targets/dcnm_template/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-template

Updated config.yml
  .circleci/config.yml
Due: run-setup=false, run-any

version changes complete
  README.md
  dcnm-ut
  dcnm_roles.yaml
  dcnm_test.yaml
  file.sh
  galaxy.yml
  group_vars/dcnm.yaml
  hosts
  tests/integration/targets/dcnm_interface/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_inventory/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_links/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_policy/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_service_node/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_template/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_vrf/tests/dcnm/sanity.yaml
  tests/integration/targets/prepare_dcnm_template/tasks/main.yaml
  tests/unit/modules/dcnm/test_dcnm_network.py.save
Due: run-setup=false, run-any, run-interface, run-inventory, run-vrf, run-links, run-policy, run-service_node, run-template

Updated sanity
  dcnm-ut
  dcnm_roles.yaml
  dcnm_test.yaml
  group_vars/dcnm.yaml
  hosts
  tests/integration/targets/dcnm_interface/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_inventory/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_links/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_policy/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_service_node/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_service_route_peering/tasks/dcnm.yaml
  tests/integration/targets/dcnm_service_route_peering/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_template/tests/dcnm/sanity.yaml
  tests/integration/targets/dcnm_vrf/tests/dcnm/sanity.yaml
  tests/integration/targets/prepare_dcnm_policy/tasks/main.yaml
  tests/integration/targets/prepare_dcnm_service_route_peering/tasks/main.yaml
  tests/integration/targets/prepare_dcnm_template/tasks/main.yaml
  tests/unit/modules/dcnm/test_dcnm_network.py.save
Due: run-setup=false, run-any, run-interface, run-inventory, run-vrf, run-links, run-policy, run-service_node, run-service_route_peering, run-template

Update config.yml
  .circleci/config.yml
Due: run-setup=false, run-any

Update sanity.yaml
  tests/integration/targets/dcnm_inventory/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-inventory

Update sanity.yaml
  tests/integration/targets/dcnm_links/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-links

Update sanity.yaml
  tests/integration/targets/dcnm_network/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-network

Update sanity.yaml
  tests/integration/targets/dcnm_policy/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-policy

Update sanity.yaml
  tests/integration/targets/dcnm_resource_manager/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-resource_manager

Update sanity.yaml
  tests/integration/targets/dcnm_service_node/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-service_node

Update sanity.yml
  tests/integration/targets/dcnm_service_policy/tests/dcnm/sanity.yml
Due: run-setup=false, run-any, run-service_policy

Update sanity.yaml
  tests/integration/targets/dcnm_service_route_peering/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-service_route_peering

Update sanity.yaml
  tests/integration/targets/dcnm_vrf/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-vrf

Update dcnm_network.py
  plugins/modules/dcnm_network.py
Due: run-setup=false, run-any, run-network

Delete dcnm_roles.yaml
  dcnm_roles.yaml
Due: run-setup=false, run-any

Delete dcnm-ut
  dcnm-ut
Due: run-setup=false, run-any

Delete dcnm_test.yaml
  dcnm_test.yaml
Due: run-setup=false, run-any

Delete hosts
  hosts
Due: run-setup=false, run-any

Delete group_vars directory
  group_vars/dcnm.yaml
Due: run-setup=false, run-any

Network sanity update
  tests/integration/targets/dcnm_network/tasks/dcnm.yaml
  tests/integration/targets/dcnm_network/tasks/main.yaml
  tests/integration/targets/dcnm_network/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-network

Create releaseinfo.yaml
  releaseinfo.yaml
Due: run-setup=false, run-any

Update releaseinfo.yaml
  releaseinfo.yaml
Due: run-setup=false, run-any

Path conditions:
  run-setup=false: any of: .*
  run-any: any of: .*
  run-all: (((any of: plugins/httpapi/.*) or (any of: plugins/module_utils/.*)) or (any of: tests/integration/targets/dcnm_fabric/.*)) or (any of: tests/integration/targets/prepare_dcnm_intf/tasks/.*)
  run-interface: ((any of: plugins/action/dcnm_interface.py) or (any of: plugins/modules/dcnm_interface.py)) or (any of: tests/integration/targets/dcnm_interface/.*)
  run-inventory: ((any of: plugins/action/dcnm_inventory.py) or (any of: plugins/modules/dcnm_inventory.py)) or (any of: tests/integration/targets/dcnm_inventory/.*)
  run-vrf: ((any of: plugins/action/dcnm_vrf.py) or (any of: plugins/modules/dcnm_vrf.py)) or (any of: tests/integration/targets/dcnm_vrf/.*)
  run-links: ((any of: plugins/modules/dcnm_links.py) or (any of: tests/integration/targets/dcnm_links/.*)) or (any of: tests/integration/targets/prepare_dcnm_links/tasks/.*)
  run-network: (any of: plugins/modules/dcnm_network.py) or (any of: tests/integration/targets/dcnm_network/.*)
  run-policy: ((any of: plugins/modules/dcnm_policy.py) or (any of: tests/integration/targets/dcnm_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_policy/tasks/.*)
  run-resource_manager: (any of: plugins/modules/dcnm_resource_manager.py) or (any of: tests/integration/targets/dcnm_resource_manager/.*)
  run-rest: any of: plugins/modules/dcnm_rest.py
  run-service_node: (any of: plugins/modules/dcnm_service_node.py) or (any of: tests/integration/targets/dcnm_service_node/.*)
  run-service_policy: ((any of: plugins/modules/dcnm_service_policy.py) or (any of: tests/integration/targets/dcnm_service_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_policy/tasks/.*)
  run-service_route_peering: ((any of: plugins/modules/dcnm_service_route_peering.py) or (any of: tests/integration/targets/dcnm_service_route_peering/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_route_peering/tasks/.*)
  run-template: ((any of: plugins/modules/dcnm_template.py) or (any of: tests/integration/targets/dcnm_template/.*)) or (any of: tests/integration/targets/prepare_dcnm_template/tasks/.*)
  run-all-unit: any of: tests/unit/modules/dcnm
