Repository Pari-Dhanani/ansible-dcnm: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-interface, run-inventory, run-vrf, run-links, run-network, run-policy, run-resource_manager, run-rest, run-service_node, run-service_policy, run-service_route_peering, run-template, run-all-unit

Update dcnm.yaml
  tests/integration/targets/dcnm_resource_manager/tasks/dcnm.yaml
Due: run-setup=false, run-any, run-resource_manager

Update main.yaml
  tests/integration/targets/dcnm_resource_manager/tasks/main.yaml
Due: run-setup=false, run-any, run-resource_manager

Update dcnm.yaml
  tests/integration/targets/dcnm_service_node/tasks/dcnm.yaml
Due: run-setup=false, run-any, run-service_node

Update main.yaml
  tests/integration/targets/dcnm_service_node/tasks/main.yaml
Due: run-setup=false, run-any, run-service_node

Update main.yaml
  tests/integration/targets/dcnm_template/tasks/main.yaml
Due: run-setup=false, run-any, run-template

Update dcnm.yaml
  tests/integration/targets/dcnm_template/tasks/dcnm.yaml
Due: run-setup=false, run-any, run-template

Update dcnm.yaml
  tests/integration/targets/dcnm_vrf/tasks/dcnm.yaml
Due: run-setup=false, run-any, run-vrf

Update main.yaml
  tests/integration/targets/dcnm_vrf/tasks/main.yaml
Due: run-setup=false, run-any, run-vrf

Updated config.yml
  .circleci/config.yml
Due: run-setup=false, run-any

Update main.yaml
  tests/integration/targets/dcnm_interface/tasks/main.yaml
Due: run-setup=false, run-any, run-interface

Update main.yaml
  tests/integration/targets/dcnm_inventory/tasks/main.yaml
Due: run-setup=false, run-any, run-inventory

Update main.yaml
  tests/integration/targets/dcnm_links/tasks/main.yaml
Due: run-setup=false, run-any, run-links

Update main.yaml
  tests/integration/targets/dcnm_network/tasks/main.yaml
Due: run-setup=false, run-any, run-network

Update main.yaml
  tests/integration/targets/dcnm_policy/tasks/main.yaml
Due: run-setup=false, run-any, run-policy

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_interface/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-interface

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_inventory/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-inventory

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_vrf/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-vrf

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_template/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-template

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_service_node/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-service_node

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_resource_manager/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-resource_manager

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_policy/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-policy

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_network/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-network

Rename sanity.yml to sanity.yaml
  tests/integration/targets/dcnm_links/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-links

Update sanity.yaml
  tests/integration/targets/dcnm_interface/tests/dcnm/sanity.yaml
Due: run-setup=false, run-any, run-interface

Path conditions:
  run-setup=false: any of: .*
  run-any: any of: .*
  run-all: (((any of: plugins/httpapi/.*) or (any of: plugins/module_utils/.*)) or (any of: tests/integration/targets/dcnm_fabric/.*)) or (any of: tests/integration/targets/prepare_dcnm_intf/tasks/.*)
  run-interface: ((any of: plugins/action/dcnm_interface.py) or (any of: plugins/modules/dcnm_interface.py)) or (any of: tests/integration/targets/dcnm_interface/.*)
  run-inventory: ((any of: plugins/action/dcnm_inventory.py) or (any of: plugins/modules/dcnm_inventory.py)) or (any of: tests/integration/targets/dcnm_inventory/.*)
  run-vrf: ((any of: plugins/action/dcnm_vrf.py) or (any of: plugins/modules/dcnm_vrf.py)) or (any of: tests/integration/targets/dcnm_vrf/.*)
  run-links: ((any of: plugins/modules/dcnm_links.py) or (any of: tests/integration/targets/dcnm_links/.*)) or (any of: tests/integration/targets/prepare_dcnm_links/tasks/.*)
  run-network: (any of: plugins/modules/dcnm_network.py) or (any of: tests/integration/targets/dcnm_network/.*)
  run-policy: ((any of: plugins/modules/dcnm_policy.py) or (any of: tests/integration/targets/dcnm_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_policy/tasks/.*)
  run-resource_manager: (any of: plugins/modules/dcnm_resource_manager.py) or (any of: tests/integration/targets/dcnm_resource_manager/.*)
  run-rest: any of: plugins/modules/dcnm_rest.py
  run-service_node: (any of: plugins/modules/dcnm_service_node.py) or (any of: tests/integration/targets/dcnm_service_node/.*)
  run-service_policy: ((any of: plugins/modules/dcnm_service_policy.py) or (any of: tests/integration/targets/dcnm_service_policy/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_policy/tasks/.*)
  run-service_route_peering: ((any of: plugins/modules/dcnm_service_route_peering.py) or (any of: tests/integration/targets/dcnm_service_route_peering/.*)) or (any of: tests/integration/targets/prepare_dcnm_service_route_peering/tasks/.*)
  run-template: ((any of: plugins/modules/dcnm_template.py) or (any of: tests/integration/targets/dcnm_template/.*)) or (any of: tests/integration/targets/prepare_dcnm_template/tasks/.*)
  run-all-unit: any of: tests/unit/modules/dcnm
